<html lang="en" class="gr__localhost"><head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>hermes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../static/css/new_hermes.css" rel="stylesheet">
      </head>
      
      <body class="body-wrapper vsc-initialized" data-gr-c-s-loaded="true">
      
      <section id="nav-menu">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <nav class="navbar navbar-expand-lg navbar-light navigation">
                          <a class="navbar-brand" href="index.html">
                              <img src="images/logo.png" alt="">
                          </a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-auto main-nav ">
                                  <li class="nav-item active">
                                      <a class="nav-link" href="#home">Home</a>
                                  </li>
                                  <li class="nav-item dropdown dropdown-slide">
                                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#our-services">Services<span><i class="fa fa-angle-down"></i></span>
                                      </a>
                                  </li>
                                  <li class="nav-item dropdown dropdown-slide">
                                      <a class="nav-link dropdown-toggle" href="#why-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Why Us <span><i class="fa fa-angle-down"></i></span>
                                      </a>
                                  </li>
                                  <li class="nav-item dropdown dropdown-slide">
                                      <a class="nav-link dropdown-toggle" href="#pricing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Pricing <span><i class="fa fa-angle-down"></i></span>
                                      </a>
                                  </li>
                                  <li class="nav-item dropdown dropdown-slide">
                                        <a class="nav-link dropdown-toggle" href="#contact-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Contact Us <span><i class="fa fa-angle-down"></i></span>
                                        </a>
                                    </li>
                              </ul>
                              
                          </div>
                      </nav>
                  </div>
              </div>
          </div>
      </section>
      
      <!--===============================
      =    service submittion Area      =
      ================================-->
      
      <section class="hero-area bg-1 text-center overly" id="home">
          <!-- Container Start -->
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <!-- Header Contetnt -->
                      <div class="content-block">
                          <!-- <img class="hermes-image" src="Images/header-img.png" /> -->
                          <h1>Hermes</h1>  
                      </div>
                      <!-- Advance Search -->
                      <div class="advance-search">
                              <div class="container">
                                  <div class="row justify-content-center">
                                      <div class="col-lg-12 col-md-12 align-content-center">
                                              <form>
                                                  <div class="form-row">
                                                      <div class="form-group col-md-4">
                                                          <input type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="UserName">
                                                      </div>
                                                      <div class="form-group col-md-3">
                                                          <select class="w-100 form-control mt-lg-1 mt-md-2">
                                                              <option>Services</option>
                                                              <option value="ac">Air Conditioner</option>
                                                              <option value="rf">Refrigerator</option>
                                                              <option value="cm">Computers</option>
                                                              <option value="cp">CCTV &amp; Projectors</option>
                                                              <option value="wm">Washing Machines</option>
                                                          </select>
                                                      </div>
                                                      <div class="form-group col-md-3">
                                                          <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Contact Number">
                                                      </div>
                                                      <div class="form-group col-md-2 align-self-center">
                                                          <button type="submit" class="btn btn-primary">Submit</button>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          <!-- Container End -->
      </section>
      
      <!--===================================
      =            Client Slider            =
      ====================================-->
      
      
      <!--===========================================
      =            Popular deals section            =
      ============================================-->
      
      <section class="popular-deals section bg-gray">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-title" id="our-services">
                          <h2>Our Services</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <!-- offer 01 -->
                  <div class="col-lg-12">
                      <div class="trending-ads-slide" style="display: inline-flex">
                          

<div class="col-sm-12 col-lg-4">
                              <!-- product card -->
      <div class="product-item bg-light">
          <div class="card">
              <div class="thumb-content card-icon">
                    <img class="card-img-top img-fluid card-img" src="../static/Images/laptop.png" alt="computer">
              </div>
              <div class="card-body">
                  <h4 class="card-title title-card">Computers</h4>
                  <p class="card-text text-card">All brands of laptops &amp; Desktops Troubleshooting.</p>
              </div>
          </div>
      </div>
      </div>

      <div class="col-sm-12 col-lg-4">
            <!-- product card -->
<div class="product-item bg-light">
<div class="card">
<div class="thumb-content card-icon">
  <img class="card-img-top img-fluid card-img" src="../static/Images/computer.png" alt="tv and monitor">
</div>
<div class="card-body">
<h4 class="card-title title-card">TVs & Monitors</h4>
<p class="card-text text-card">All brands of LCD, LED Tvs &amp; brands of Washing Machine Service.</p>

</div>
</div>
</div>
</div>

<div class="col-sm-12 col-lg-4">
                              <!-- product card -->
      <div class="product-item bg-light">
          <div class="card">
              <div class="thumb-content card-icon">
                    <img class="card-img-top img-fluid card-img" src="../static/Images/air-conditioner.png" alt="AirConditioner">
              </div>
              <div class="card-body">
                  <h4 class="card-title title-card">AirConditioner</h4>
                  <p class="card-text text-card">All Models &amp; brands of Air Conditioner Service.</p>
                  
              </div>
          </div>
      </div>
</div>
 </div>
                  </div>
<div class="col-lg-12">
                      <div class="trending-ads-slide" style="display: inline-flex">
                          

<div class="col-sm-12 col-lg-4">
                              <!-- product card -->
      <div class="product-item bg-light">
          <div class="card">
              <div class="thumb-content card-icon">
                    <img class="card-img-top img-fluid card-img" src="../static/Images/Refrigerator.png" alt="Refrigerator">
              </div>
              <div class="card-body">
                  <h4 class="card-title title-card">Refrigerator</h4>
                  <p class="card-text text-card">All Models &amp; brands of Refrigerator Service.</p>
              </div>
          </div>
      </div>
      
      
      
                          </div>
<div class="col-sm-12 col-lg-4">
                              <!-- product card -->
      <div class="product-item bg-light">
          <div class="card">
              <div class="thumb-content card-icon">
                    <img class="card-img-top img-fluid card-img" src="../static/Images/cctv.png" alt="cctv">
              </div>
              <div class="card-body">
                  <h4 class="card-title title-card">CCTV & Projectors</h4>
                  <p class="card-text text-card">All Models  of CCTV &amp; Projectors of Washing Machine Service.</p>
              </div>
          </div>
      </div>
      
      
      
                          </div><div class="col-sm-12 col-lg-4">
                              <!-- product card -->
      <div class="product-item bg-light">
          <div class="card">
              <div class="thumb-content card-icon">
                    <img class="card-img-top img-fluid card-img" src="../static/Images/washing-machine.png" alt="washing-machine">
              </div>
              <div class="card-body">
                  <h4 class="card-title title-card">Washing Machine</h4>
                  <p class="card-text text-card">All Models &amp; brands of Washing Machine Service.</p>
              </div>
          </div>
      </div>
     </div>

                      </div>
                  </div>
                  
              </div>
          </div>
      </section>
      
      <!-- ===========================================
      =                  Why Us                 =
      =========================================== -->
      <section class=" section" id="why-us"> 
            <!-- Container Start -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section title -->
                        <div class="section-title">
                            <h2>Why Us</h2>
                        </div>
                        <div class="row">
                                <div class="col-lg-12">
                                        <div class="trending-ads-slide" style="display: inline-flex">
                                            
                  
                  <div class="col-sm-12 col-lg-4">
                                                <!-- product card -->
                        <div class="product-item bg-light">
                            <div class="card why-card">
                              <div class="card-body">
                                <div class="why-img-title" >  
                                    <img class="card-img-top img-fluid why-img" src="../static/Images/rupee-indian.png" alt="rupee-indian">
                                        <h4 class="card-title why-title-card">Transparent Pricing</h4> 
                                </div>
                                <p class="card-text why-text-card">Pay after service with no hidden charges.</p>
                             </div>
                            </div>
                        </div>
                        </div>
                  
                        <div class="col-sm-12 col-lg-4">
                                <!-- product card -->
        <div class="product-item bg-light">
            <div class="card why-card">
              <div class="card-body">
                <div class="why-img-title" >  
                    <img class="card-img-top img-fluid why-img" src="../static/Images/start-up.png" alt="start-up">
                        <h4 class="card-title why-title-card">Quick Response</h4> 
                </div>
                <p class="card-text why-text-card">Excellent Customer support with quick response.</p>
             </div>
            </div>
        </div>
        </div>
                  
        <div class="col-sm-12 col-lg-4">
                <!-- product card -->
<div class="product-item bg-light">
<div class="card why-card">
<div class="card-body">
<div class="why-img-title" >  
    <img class="card-img-top img-fluid why-img" src="../static/Images/quality.png" alt="quality">
        <h4 class="card-title why-title-card">Quality Service</h4> 
</div>
<p class="card-text why-text-card">We are Certified Professionals in this field.</p>
</div>
</div>
</div>
</div>
                   </div>
                </div>
                        </div>
                    </div>
                </div>

            </div>
        </section> 


      
      <!--==========================================
      =            All Category Section            =
      ===========================================-->
       
      <section class="section bg-gray" id="pricing">
          <!-- Container Start -->
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <!-- Section title -->
                      <div class="section-title">
                          <h2>Pricing</h2>
                      </div>
                      <div class="row">
                          <!-- Category list -->
                          <div class="col-lg-4 offset-lg-1 col-md-5 offset-md-1 col-sm-6 col-6">
                              <div class="category-block pricing-block">
                                  <div class="header">
                                      <i class="fa fa-laptop icon-bg-1"></i> 
                                      <h4 class="pricing-title">Inspection</h4>
                                  </div>
                                  <div class="price-tag">
                                    <img class="card-img-top img-fluid price-img" src="../static/Images/rupee-indian.png" alt="rupee-indian" />
                                    <p style="
                                    font-size: 50px;
                                    color: black;
                                    ">149</p>
                                    <p style="
                                    font-size: 25px;
                                    color: black;
                                    ">/</p>
                                    <p style="color: black;font-size: large;">VISIT</p>
                                  </div>
                                  <div style="text-align: center;margin-top: 10%;">
                                        <p style="
                                        font-size: larger;
                                        ">Diagnose the problem ?</p>
                                        <p style="
                                        font-size: large;
                                        ">Get experts advice ? </p>
                                    </div>
                                    <a class="btn btn-main price-btn" href="ad-listing.html">Add Listing</a>
                              </div>
                          </div> <!-- /Category List -->
                          <!-- Category list -->
                          <div class="col-lg-4 offset-lg-1 col-md-5 offset-md-1 col-sm-6 col-6">
                              <div class="category-block pricing-block">
                                  <div class="header">
                                      <i class="fa fa-apple icon-bg-2"></i> 
                                      <h4 class="pricing-title">Fixing</h4>
                                  </div>
                                  <div class="price-tag">
                                        <img class="card-img-top img-fluid price-img" src="../static/Images/rupee-indian.png" alt="rupee-indian" />
                                        <p style="
                                        font-size: 50px;
                                        color: black;
                                        ">___</p>
                                        <p style="
                                        font-size: 25px;
                                        color: black;
                                        "> &nbsp/</p>
                                        <p style="color: black;font-size: large;">FIX</p>
                                    </div>
                                    <div style="text-align: center;margin-top: 10%;">
                                        <p style="
                                        font-size: larger;
                                        ">Depends on the device & fix</p>
                                        <p style="
                                        font-size: large;
                                        ">Depends on Spare parts purchased</p>
                                    </div>
                                    <a class="btn btn-main price-btn" href="ad-listing.html">Add Listing</a>
                              </div>
                          </div> <!-- /Category List -->
                          <!-- Category list -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- Container End -->
      </section>
      
      <!--============================
      =            Footer            =
      =============================-->
      
      <footer class="footer section section-sm" id="contact-us">
        <!-- Container Start -->
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
              <!-- About -->
              <div class="block about">
                <!-- footer logo -->
                <img class="contact-us-img" src="../static/Images/maps-and-flags.png" alt="location">
                <!-- description -->
                <h4 style="text-align: center">Location</h4>
                <p class="alt-color">
                    <a 
                    style="color: #c7c7c7;" 
                    href="https://www.google.com/maps/place/Platinum+65+-+Residential+Apartments+in+Anna+Nagar/@13.088031,80.1870652,19z/data=!4m5!3m4!1s0x3a52641b3b5f505d:0xaa527bbbc2895355!8m2!3d13.0880232!4d80.1876392!5m1!1e4"
                    >
                        52/12 round building, tvs avenue, 
                        main road, Anna Nagar West Extension,
                        Chennai - 600101</a></p>
              </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-2 col-md-3">
              <div class="block about">
                <img class="contact-us-img" src="../static/Images/email.png" alt="email">
                <h4 style="text-align: center;">Email</h4>                
                <p class="alt-color">technoelectronicssolutions@gmail.com</p>
              </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-2 col-md-3">
              <div class="block about">
                <img class="contact-us-img" src="../static/Images/call-answer.png" alt="phone-call">

                <h4 style="text-align: center">Contact No</h4>
                <p class="alt-color" style="text-align: center">+91-95517 11449</p>
                <p style="text-align: center;color: #c7c7c7;line-height: 0;">+91-95517 11339</p>                </p>
                </ul>
              </div>
            </div>
            <!-- Promotion -->
            <!-- <div class="col-lg-4 col-md-7">
              <div class="block-2 app-promotion">
                <div class="mobile d-flex">
                  <a href="">
                    <img src="images/footer/phone-icon.png" alt="mobile-icon">
                  </a>
                  <p>Get the Dealsy Mobile App and Save more</p>
                </div>
                <div class="download-btn d-flex my-3">
                  <a href="#"><img src="images/apps/google-play-store.png" class="img-fluid" alt=""></a>
                  <a href="#" class=" ml-3"><img src="images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <!-- Container End -->
      </footer>
      <!-- Footer Bottom -->
      <!-- <footer class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="copyright">
                <p>Copyright © <script>
                    var CurrentYear = new Date().getFullYear()
                    document.write(CurrentYear)
                  </script>201920192019. All Rights Reserved, theme by <a class="text-primary" href="https://themefisher.com" target="_blank">themefisher.com</a></p>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <ul class="social-media-icons text-right">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher" target="_blank"></a></li>
                <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher" target="_blank"></a></li>
                <li><a class="fa fa-vimeo" href=""></a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- Container End -->
        <!-- To Top -->
        <!-- <div class="top-to">
          <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
      </footer> -->
      
      
      
      <!-- <iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" style="display: none;" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}"></div><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span><iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe></body></html> -->