<html>
    <head>
        <title>forgotpassword</title>
        <link type="text/css" rel="stylesheet" href="/static/stylesheet/forgotpassword.css"/>

    </head>
    <body>
        <h1>To Reset Password:</h1>
        <div class="main">
            <form action="/forgotpassword", method="post">
                <input type="email" name="mail" placeholder="Enter Email-Id to reset password" >
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>



