<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/stylesheet/stylesheet.css"/>
    <script type="text/javascript" src="/static/script.js"></script>
    <title>HomePage</title>
</head>
<body>

<h1>welcome to book reading</h1>
<div class="button-pannel">
  <button onclick="document.getElementById('id01').style.display='block'" style="width:200px;height: 48px;line-height: 0px;font-size: 17px;padding: 0;"><h5>Login </h5></button>
  <button onclick="document.getElementById('id03').style.display='block'" style="background:blue;width:200px;height: 48px;line-height: 0px;font-size: 17px;padding: 0;"><h5>Signup</h5> </button>
</div>
<div class="admin-button">
  <button onclick="document.getElementById('id02').style.display='block'" style="background:blue;width:200px;height: 48px;line-height: 0px;font-size: 17px;padding: 0;"><h5>Admin Login</h5> </button>
</div>

<div id="id01" class="modal">

  <form class="modal-content animate" action="/loginpage" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div>
      <h2 class="cufon-helvetica" style="font-size: 40px;color:rgb(0,0,250);text-align: center;">Welcome!</h2>
      <h3 class="cufon-helvetica" style="font-size: 25px;text-align: center;">Login as user</h3>
    </div>
    <div class="container" style="background-color:#f2f2f2;padding:15px 5;">
      <label><b>EmailId<span class="required">*</span></b></label>
      <input type="text" placeholder="Enter EmailId" name="uname" required>

      <label><b>Password<span class="required">*</span></b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="/forgot">password?</a></span>
    </div>
  </form>
</div>
<div id="id02" class="modal">

  <form class="modal-content animate" action="/admin" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div>
      <h2 class="cufon-helvetica" style="font-size: 40px;color:rgb(0,0,250);text-align: center;">Welcome!</h2>
      <h3 class="cufon-helvetica" style="font-size: 25px;text-align: center;">Login as Admin</h3>
    </div>
    <div class="container" style="background-color:#f2f2f2;padding:15px 5;">
      <label><b>User Name<span class="required">*</span></b></label>
      <input type="text" placeholder="Enter User name" name="adminname" required>

      <label><b>Password<span class="required">*</span></b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>

    </div>

  </form>
</div>

<div id="id03" class="modal">

 <form class="modal-content animate" action="/signup" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
   <div>
      <h2 class="cufon-helvetica" style="font-size: 40px;color:rgb(0,0,250);text-align: center;">Welcome!</h2>
      <h3 class="cufon-helvetica" style="font-size: 25px;text-align: center;"> Create free account</h3>
    </div>

    <div class="container"style="background-color:#f2f2f2;padding:15px 5;">
      <label><b>User Name<span class="required">*</span></b></label>
      <input type="text" placeholder="Enter User Name" name="uname" required>

      <label><b>Email-Id<span class="required">*</span></b></label>
      <input type="text" placeholder="Enter Your EmailId" name="email" required>

      <label><b>Password<span class="required">*</span></b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label><b>Confirm Password<span class="required">*</span></b></label>
      <input type="password" placeholder="Re Enter Password" name="cpsw" required>

      <button type="submit" onclick="return Validate()">Signup</button>
      <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
 </form>
</div>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <h3><li>{{ message }}</li></h3>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

</body>
</html>
