<html>
<head>
    <title>resetpassword</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheet/resetpassword.css"/>
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<div class="main">
<form action="/resetpasswordstore", method="post">
Enter Email-id: <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,3}$" placeholder="Enter mail" name="mail"><br><br>
Enter Password: <input type="password" id="psw" placeholder="Enter password" name="password"><br><br>
Confirmation Password: <input type="password" id="cpsw" placeholder="Reenter password" name="reenterpassword"><br><br>

<input type="hidden" name="uid" value={{ uid }} >
<input type="submit" onclick="return Validate()"><br><br>
</form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>