<!DOCTYPE html>
<html>
<head>

    <title>User Login Form</title>
    	<link rel="stylesheet" type="text/css" href= "bookform.css">
</head>
<body>
<div class="divclass">
		<h2><center>User Registration Form</center></h2>
		<form  class="formclass"  action="https://workwithflask.appspot.com/userdetails" method="post">
            <label><b><p>First Name:</p></b></label>
			<input type="text" placeholder="Enter first name" name="fname" required class="Admininput">

			<label><b><p>Last Name:</p></b></label>
			<input type="text" placeholder="Enter last name" name="lname" required class="Admininput">

             <label><b><p>Email-Id:</p></b></label>
			<input type="email" placeholder="Enter Email-Id" name="email" required class="Admininput">

			<label><b><p>Password:</p></b></label>
			<input type="password" placeholder="Enter Password" name="pwd" required class="Admininput">

			<button type="submit" class="button">Register</button>

			<button type="clear" class="button">Reset</button>
		</form>
	</div>
</body>
</html>